body {
  text-align: center;
  background: #00ecb9;
  font-family: sans-serif;
  font-weight: 100;
}

.TimerBtn {
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
  border-radius: 10px;
  padding: 10px 30px;
}
