.Timer {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.Field {
  padding: 10px;
  border-radius: 3px;
  background: #00bf96;
  display: inline-block;
  border-radius: 5px;
}
